.footer {
  padding-bottom:150px;
  .container {
    display: flex;
    align-items: flex-start;
    line-height: 40px;
  }
}
.footer__inner {
  display: flex;
  width: 100%;
}
h4.footer__title {
  margin-right: 50px;
  margin:0 50px 0 0;
}
.footer__contacts {
  @include ring;
}
.footer__contacts,
.footer__address,
.footer__working {
  @include contacts;
  &::before{
    top:10px;
  }
}
.footer__address {
  @include local;
}
.footer__working {
  @include clock;
}
.footer__social-box {
  padding-left: 25px;
  display: flex;
  margin-top: 10px;
}
.footer__social-list {
  display: flex;
  justify-content: flex-end;
}
.footer__social-item + .footer__social-item {
  margin-left: 20px;
}
.footer__social-link-VK {
  @include vk;
  margin-top: 5px;
}
.footer__social-link-Instagram {
  @include insta;
}
.footer__social-link-Be {
  @include be;
  margin-top: 5px;
}
.footer__social-link-Facebook {
  @include facebook;
}
