html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
 }
html,
body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  background-color: #000;
  color:#fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  scroll-behavior: smooth;
}
li{
  list-style: none;
  box-sizing:border-box;
}
button{
   outline: none;
  border: none;
  cursor: pointer;
  &:focus-visible,
  &:active,
  &:visited,
// отрабатывает на мобильном
  &:focus-within {
    outline: none;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.container{
  max-width: 1170px;
  padding:0 10px;
  margin:0 auto;
  width: 100%;
}
.container-fluid{
  max-width: 1920px;
}
li[class$="__social-item"]{
  font-size: 0;
}
h3,h4[class$="__title"]{
  text-transform: uppercase;
  @include fz32;
  font-weight: 300;
}
address{
  font-style: normal;
}
ul{
 padding-inline-start:0;
 margin-block-start:0;
 margin-block-end:0;
}