.header__inner {
  display: flex;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}
.header__logo-menu-wrapper {
  display: flex;
}
button.header__burger-menu {
  margin-left: 5px;
  height: 20px;
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
}
.header__burger-menu-line {
  width: 18px;
  height: 1px;
  background-color: #fff;
  &:last-child {
    width: 12px;
  }
}
.header__nav-wrapper {
  display:none;
   position: fixed;
  height: 100vh;
  z-index: 100;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000;
    .header__burger-menu {
    margin-top: 3px;
    width: 15px;
    height: 15px;
    background: url("../images/common/common-icons.png") -118px -81px;
  }
  .header__logo-menu-wrapper {
    margin-top: 26px;
  }
}
.header__nav-box {
  margin-left: 30%;
}
.header__nav-item {
  width: fit-content;
  display: flex;
  align-items: center;
}
.header__nav-item + .header__nav-item {
  margin-top: 25px;
}
.header__nav-item-link {
  text-transform: uppercase;
  @include fz32;
  padding-left: 18px;
  position: relative;
  margin-right: 20px;
  width: fit-content;
  &:hover {
    color: $accent;
    transition: 0.5s;
    &::before {
      @include be-af;
      left: 0;
      top: 50%;
      width: 10px;
      height: 11px;
      background: url("../images/common/common-icons.png") -81px -116px;
      transform: translateY(-50%);
      transition: 0.6s;
    }
  }
}

.header__nav-items-extra {
  display: flex;
  text-transform: capitalize;
  justify-content: start;
}
.header__nav-item-extra-point {
  font-size: 16px;
  margin-left: 20px;
  display: flex;
}
.header__nav-item-extra-point + .header__nav-item-extra-point {
  margin-left: 20px;
}
.header__nav-item-extra-point-link {
  color: $box;
  &:hover,
  &:focus {
    color: #fff;
    transition: 0.5s;
  }
  &:active {
    color: $accent;
    transition: 0.5s;
  }
}
.header__social-item-phone {
  display: flex;
  align-items: center;
}
.header__social-block {
  max-width: 230px;
  display: flex;
  padding: 45px 0 50px 18px;
  align-items: center;
}

.header__social-item {
  margin-left: 15px;
  display: flex;
}

.header__social-link-VK {
  @include vk;
}
.header__social-link-Instagram {
  @include insta;
}
.header__social-link-Be {
  @include be;
}
.header__social-link-Facebook {
  @include facebook;
}
.header__contacts-wrap{
  max-width:220px;
  width: 100%;
}
.header__contacts{
  @include ring;

}
.header__address {
 @include local;
 margin-top: 35px;
}
.header__working {
  @include clock;
  margin-top: 35px;
}
.header__working-online-check{
  @include online;
}
.header__contacts,
.header__address,
.header__working{
  @include contacts;
  margin-left: 18px;
  &::before{
    top:5px;
  }
}

.header__phone {
  width: 42px;
  height: 42px;
  background: url("../images/common/common-icons.png") -10px -10px;
}
