// modeling start
.modeling {
  background-image: url(../images/photo/modeling/modeling-img.jpg);
  background-repeat: no-repeat;
  padding: 70px 0 100px 0;
  background-size:cover;
}
.container {
}
.modeling__title {
}
.modeling__article {
  max-width: 520px;
}

// media for modeling
@media(max-width:750px){
  .modeling{
    background-position: bottom; 
  } 
}
// modeling end


//products start 
.products {
  
}
.container {
 
}
.products__nav {
  @extend .galery__nav;
}
.products__nav-btn {
  @extend .galery__nav-btn;
}
.products__nav-btn.mixitup-control-active{
  @extend .galery__nav-btn.mixitup-control-active;
}
.products__items {
  @extend div[class^="galery__inner-"];
  background-color:white;
  background:linear-gradient(to right,
  #C4C4C4 25%,
#BDBDBD 25%, #BDBDBD 50%,
#C4C4C4 50%, #C4C4C4 75%,#BDBDBD 75%);
  padding-bottom: 165px;
 }
//  color gradient left-top #828282 25%
.products__item-link {
  max-width: 50%;
  width: 100%;
}

.products__item-img {
  @extend .galery__item-img;
}
.products__nav-btn-all-wrap {
  
  @extend .galery__nav-btn-all-wrap;
}
.products__nav-btn-all {
  @extend .galery__nav-btn-all;
}
// media for products
@media(max-width:650px){
  .products__items{
    padding-bottom: 50px;
  }
  .products__item-link{
    max-width:100%;
  }
}
//products end 