// modeling start
.modeling {
  background-image: url(../images/photo/modeling/modeling-img.jpg);
  background-repeat: no-repeat;
  padding: 70px 0 100px 0;
  // background-position: bottom;
  background-size:cover;
}
.container {
}
.modeling__title {
}
.modeling__article {
  max-width: 520px;
}
// modeling end

//products start 
.products {
  
}
.container {
 
}
.products__nav {
  @extend .galery__nav;
}
.products__nav-btn {
  @extend .galery__nav-btn;
}
.products__nav-btn.mixitup-control-active{
  @extend .galery__nav-btn.mixitup-control-active;
}
.products__items {
  @extend div[class^="galery__inner-"];
  background-color:$lgray;
  padding-bottom: 165px;
 }
.products__item-link {
  max-width: 50%;
  width: 100%;
}

.products__item-img {
  @extend .galery__item-img;
}
.products__nav-btn-all-wrap {
  
  @extend .galery__nav-btn-all-wrap;
}
.products__nav-btn-all {
  @extend .galery__nav-btn-all;
}
//products end 