.top__home {
  background-image: url(../images/home/top/top-home-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% calc(50% + 40px);
}
.top__photo {
  @extend .top__home;
  background-image: url(../images/photo/top/top-photo-img.jpg);
  background-position: 30% 0;
}
.top__inner {
  display: flex;
  justify-content: space-between;
}
.top__content {
  margin-bottom: 80px;
}
h1.top__title {
  margin-bottom: 35px;
  @include fz32;
}
.top__article {
  max-width: 510px;
  width: 100%;
}
.top__social-box {
  position: relative;
  width: fit-content;
  height: 165px;
  margin-top: 65px;
  transform: translateX(-25%);
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 60px;
    background-color: #fff;
    left: 50%;
  }
  &::before {
    bottom: 115%;
  }
  &::after {
    top: 110%;
  }
}
.top__social-list {
  padding-inline-start: 0;
}
.top__social-item + .top__social-item {
  margin-top: 15px;
}
.top__social-link-VK {
  @include vk;
}
.top__social-link-Instagram {
  @include insta;
}
.top__social-link-Be {
  @include be;
}
.top__social-link-Facebook {
  @include facebook;
}

// media
@media (max-width: 650px) {
  .top__inner {
    flex-direction: column;
  }
  .top__social-box {
    align-self: center;
    transform: translateX(0);
    margin-top: 0;
    padding: 0 80px;
    height: fit-content;
    &::before,
    &::after {
      width: 60px;
      height: 1px;
      top: 50%;
      transform: translateY(-25%);
    }
    &::before {
      left: 0;
    }
    &::after {
      left: calc(100% - 60px);
    }
  }
  .top__social-list {
    display: flex;
  }
  .top__social-item {
    display: flex;
    align-items: center;
    & + & {
      margin-top: 0;
      margin-left: 20px;
    }
  }
}
