.header {
}
.header__inner {
  display: flex;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}
.header__logo-menu-wrapper{
display: flex;
}
.header__logo {
}
.header__logo-img {
}
button.header__burger-menu {
  margin-left: 5px;
  height: 20px;
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
}
.header__burger-menu-line {
  width: 18px;
  height: 1px;
  background-color: #fff;
  &:last-child{
    width: 12px;
  }
}
.heaader__nav-wrapper {
  display:none;
}
.container {
}
.heaader__nav {
}
.heaader__nav-items {
}
.heaader__nav-item {
}
.heaader__nav-item-link {
}
.heaader__nav-item-extra {
}
.heaader__nav-item-extra-point {
}
.header__social-block {
}
.header__social-item {
  
}
.header__social-link-VK {
 @include vk;
}
.header__social-link-Instagram {
 @include insta; 
}
.header__social-link-Be {
@include be;
}
.header__social-link-Facebook {
 @include facebook;
}
.header__phone {
  width: 42px; 
  height: 42px;
  background: url('../images/common/common-icons.png') -10px -10px;
}
.bg-clock {
  width: 16px; height: 17px;
  background: url('css_sprites.png') -118px -44px;
}
.bg-map_pin {
  width: 16px; height: 17px;
  background: url('css_sprites.png') -10px -116px;
}
.bg-phone_ring {
  width: 15px; height: 16px;
  background: url('css_sprites.png') -46px -116px;
}
.bg-phone {
  width: 42px; height: 42px;
  background: url('css_sprites.png') -10px -10px;
}
.bg-indication {
  width: 10px; height: 11px;
  background: url('css_sprites.png') -81px -116px;
}
.bg-close {
  width: 15px; height: 15px;
  background: url('css_sprites.png') -118px -81px;
}
.bg-vk {
  width: 24px; height: 14px;
  background: url('css_sprites.png') -118px -10px;
}