section.banner 
  .banner__bgr-wrap
    canvas.banner__bgr-canvas(width="2" height="2")
  .banner__inner
    .container
      h3.banner__title МЫ ЗАСТАВЛЯЕМ ГРАФИКУ ПРОДАВАТЬ
      div.banner__text Красивая картинка — не гарант продаж, этого мало. Именно поэтому перед началом работы мы всегда тщательно исследуем рынок вашего продукта. Это позволяет Вам быть на шаг впереди конкурентов.  
      button#banner-btn(type='button').banner__btn Оставить заявку