section.banner 
  .container
    h3.banner__title МЫ ЗАСТАВЛЯЕМ ГРАФИКУ ПРОДАВАТЬ
    div.banner__text Красивая картинка — не гарант продаж, этого мало. Именно поэтому перед началом работы мы всегда тщательно исследуем рынок вашего продукта. Это позволяет Вам быть на шаг впереди конкурентов.  
    button.banner__btn(type='button') Заполнить форму