mixin featuresItem(title, text)
  .features__item
    .features__item-title=title 
    .features__item-text=text

section.features
  .container 
    h3.features__title НАШИ СИЛЬНЫЕ СТОРОНЫ
    .features__inner 
      +featuresItem('Фирменный стиль','Мы не хотим спрашивать у вас что нам рисовать, мы хотим узнать ваши задачи и цели, а затем предложить 100 логотипов обоснованные решения, обсуждать их и вместе строить сильный бренд.')
      +featuresItem('Веб-дизайн','Делаем ваш бренд узнаваемым на рынке и выстраиваем грамотную коммуникацию с действующей и потенциальной аудиторией в SMM и рекламных кампаниях. Помогаем бренду найти свой уникальный и запоминающийся «голос».')
      +featuresItem('Упаковка','Создаём плотные ассоциации с брендом при помощи формирования целостного образа из звучного названия, индивидуального фирменного стиля и дизайна интерьеров. Помогаем с упаковкой бизнеса на любой стадии развития.  ')
      +featuresItem('Фото и 3D','Делаем ваш бренд узнаваемым на рынке и выстраиваем грамотную коммуникацию с действующей и потенциальной аудиторией в SMM и рекламных кампаниях. Помогаем бренду найти свой уникальный и запоминающийся «голос».')