-var bannerTitle = 'DESIGN STUDIO'
-var bannerArticle ='Брендинговое агентство полного цикла, в котором сформирована команда из профессионалов во всех областях медиа-контента. Более 10 лет мы создаём графику для различных направлений бизнеса. Это позволяет нам грамотно упаковать ваш бизнес и придать уникальность вашему продукту. '
-var bannerNav =['Брендинг','WEB-дизайн','Упаковка','Полиграфия']