-var className='home'
-var topTitle = 'DESIGN STUDIO'
-var topArticle ='Брендинговое агентство полного цикла, в котором сформирована команда из профессионалов во всех областях медиа-контента. Более 10 лет мы создаём графику для различных направлений бизнеса. Это позволяет нам грамотно упаковать ваш бизнес и придать уникальность вашему продукту.'

-var galeryNav =[{name:'Брендинг',filter:1},{name:'WEB-дизайн',filter:2},{name:'Упаковка',filter:3},{name:'Полиграфия',filter:4}]

-var galeryImages =[{name:'a', url:'images/home/galery/galery-home-1.jpg'},{name:'a', url:'images/home/galery/galery-home-2.jpg'},{name:'a', url:'images/home/galery/galery-home-3.jpg'},{name:'a', url:'images/home/galery/galery-home-4.jpg'},{name:'a', url:'images/home/galery/galery-home-5.jpg'},{name:'a', url:'images/home/galery/galery-home-6.jpg'},{name:'a', url:'images/home/galery/galery-home-7.jpg'},{name:'a', url:'images/home/galery/galery-home-8.jpg'}]