section.modeling
  .container 
    h3.modeling__title 3D МОДЕЛЛИНГ
    article(class='modeling__article') Мы создаём не просто фотографии, мы создаём эмоции, которые заставляют покупателя выбирать именно ваш товар. Благодаря многолетнему опыту, наши фотографы точно знают, как донести до зрителей не только внешний вид, но даже запах и вкус.
      
    
