section.products
  .container
    h3.products__title 3D Модделинг
    dl.products__tabs 
      dt.products__tab-title.active Логотипы
      dd.products__tab-content.active 
        img.products__tab-content-img(src='images/photo/products/products-img-1.jpg' alt='')
        img.products__tab-content-img(src='images/photo/products/products-img-2.jpg' alt='')
      dt.products__tab-title Продукция
      dd.products__tab-content
        img.products__tab-content-img(src='#' alt='')
        img.products__tab-content-img(src='#' alt='')
      dt.products__tab-title Анимация
      dd.products__tab-content
        img.products__tab-content-img(src='#' alt='')
        img.products__tab-content-img(src='#' alt='')
        
  
  