-var pageTitle='Q-PLAY PHOTO STUDIO'
-var className='photo'
-var topTitle = 'Q-PLAY PHOTO STUDIO'
-var topArticle ='Мы создаём не просто фотографии, мы создаём эмоции, которые заставляют покупателя выбирать именно ваш товар. Благодаря многолетнему опыту, наши фотографы точно знают, как донести до зрителей не только внешний вид, но даже запах и вкус.'

-var galeryNav =[{name:'Антуражная', filter:'e'},{name:'Рекламная', filter:'f'},{name:'Для маркетплейсов', filter:'g'}]


-var galeryImages =[{alt:'a', url:'images/photo/galery/galery-photo-1.jpg',category:'e', order:9},{alt:'a', url:'images/photo/galery/galery-photo-2.jpg',category:'f', order:10},{alt:'a', url:'images/photo/galery/galery-photo-3.jpg',category:'g', order:11},{alt:'a', url:'images/photo/galery/galery-photo-4.jpg',category:'e', order:12},{alt:'a', url:'images/photo/galery/galery-photo-5.jpg',category:'f', order:13},{alt:'a', url:'images/photo/galery/galery-photo-6.jpg',category:'g', order:14},{alt:'a', url:'images/photo/galery/galery-photo-7.jpg',category:'f', order:15},{alt:'a', url:'images/photo/galery/galery-photo-8.jpg',category:'e', order:16}]

-var productsNav =[{name:'Логотипы', filter:'h'},{name:'Продукция', filter:'i'},{name:'Анимация', filter:'j'}]

-var productsImages=[{alt:'',url:'images/photo/products/products-img-1.jpg',category:'i',order:17},{alt:'',url:'images/photo/products/products-img-2.jpg',category:'h',order:18},{alt:'',url:'images/photo/products/products-img-1.jpg',category:'i',order:19},{alt:'',url:'images/photo/products/products-img-2.jpg',category:'h',order:20},{alt:'',url:'images/photo/products/products-img-1.jpg',category:'j',order:21},{alt:'',url:'images/photo/products/products-img-2.jpg',category:'j',order:22}]