-var section = 'footer'
footer.footer 
  .container
    h4.footer__title Контакты
    .footer__inner 
      .footer__contacts
        a.footer__contacts-tel +7 (846) 990 05 77
        a.footer__contacts-email design@q-play.pro
      address.footer__address Наш адрес:  г. Самара, ул. Конноармейская, 17 
      .footer__working 
        .footer__working-hours Режим работы: 9.00 - 18.00
        .footer__working-online <span class="footer__working-online-check"></span>сейчас работаем
      .footer__social-box 
        ul.footer__social-list
          +socialLinks('footer')  