-var section = 'footer'
footer.footer 
  .container 
    .footer__inner 
      .footer__title Контакты
      .footer__contacts
        a.footer__contacts-tel +7 (846) 990 05 77
        a.footer__contacts-email design@q-play.pro
      address.footer__address Наш адрес:  г. Самара, ул. Конноармейская, 17 
      .footer__working 
        .footer__working-hours Режим работы:
        .footer__working-online <span class="footer__working-online-check"></span>сейчас работаем
      .footer__social-box 
        ul.footer__social-list
          +socialLinks('footer')
          //- +socialLink('#','VK','footer')
          //- +socialLink('#','Instagram','footer')
          //- +socialLink('#','Ё','footer')
          //- +socialLink('#','Facebook','footer')
          //- for i in ['VK', 'Instagram', 'Ё', 'Facebook'] 
          //-   li.footer__social-item 
          //-     a(href='#').footer__social-link= i