header.header 
    .header__inner.container
      .header__logo-menu-wrapper
        a.header__logo: img.header__logo-img(src='images/common/logo.svg')
        button(type='button').header__burger-menu
          .header__burger-menu-line 
          .header__burger-menu-line
          .header__burger-menu-line 
      .heaader__nav-wrapper
        .container
          .header__logo-menu-wrapper
            a.header__logo: img.header__logo-img(src='images/common/logo.svg')
            button(type='button').header__burger-menu
          .header__nav-box
            nav.heaader__nav 
              ul.heaader__nav-items 
                li.heaader__nav-item
                  a(href="#" class='heaader__nav-item-link') Портфолио
                li.heaader__nav-item
                  a(href="#" class='heaader__nav-item-link') Фото и 3D
                li.heaader__nav-item
                  a(href="#" class='heaader__nav-item-link') Бриф
                    ul.heaader__nav-item-extra
                      li.heaader__nav-item-extra-point Фирменный стиль                     
                      li.heaader__nav-item-extra-point Логотип 
                      li.heaader__nav-item-extra-point Упаковка
                      li.heaader__nav-item-extra-point Сайт
                      li.heaader__nav-item-extra-point Дизайн макет  
                li.heaader__nav-item
                  a(href="#" class='heaader__nav-item-link') Вопросы
                li.heaader__nav-item
                  a(href="#" class='heaader__nav-item-link')  For free 
            ul.header__social-block
              li(class='header__social-item-phone')
                a(href="tel:88009878830").header__phone
              +socialLinks('header')
      a(href="tel:88009878830").header__phone