block variables
  
block mixins
  include mixins  

doctype html
html(lang="en")
  block head
    head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= pageTitle
    link(rel="stylesheet" href="css/style.min.css")
  body 
    .wrapper 
      .content__fluid
        block header
          include header 
        block content
      block footer 
        include footer 
    block scripts 
      script(src="js/main.min.js")