section(class='top__'+className)
  .container 
    .top__inner 
      .top__content 
        h1.top__title=topTitle 
        article.top__article=topArticle 
      .top__social-box 
        ul.top__social-list
          +socialLinks('top')
