extends common/layout

block variables
  include includes/index/variables-index

block content 
  main.main
    include common/top      
    include common/galery
    include includes/index/features
    include includes/index/achievements
    include includes/index/banner
    include includes/index/clients
block modal 
  include includes/index/modal
block scripts 
  script(src="js/main.min.js")
  script(src="js/home.js")
  script(src="js/main.js")