extends common/layout

block variables
  include includes/photo/variables-photo


block content 
  main.main 
    include common/top
    include common/galery
    include includes/photo/products
       //- и другие блоки
