extends common/layout

block variables
  include includes/photo/variables-photo


block content 
  main.main 
    include common/top
    include common/galery
    include includes/photo/modeling
    include includes/photo/products
block scripts 
  script(src="js/main.min.js")
  script(src="js/main.js")
  script(src="js/photo.js")