extends common/layout
//- block variables
//-   include includes/brif/variables-brif

block content
  include includes/preview/start

block scripts 
  script(src="js/main.min.js")
  script(src="js/main.js")
