extends common/layout

block variables
  include includes/project/variables-project

block content 
  main.main
    include common/top
    include includes/project/overview   
block scripts 
  script(src="js/main.min.js")
  script(src="js/main.js")