-var pageNumber=2
block page-2
  div(class='tab brif__form-page-'+pageNumber )
    +brifTop('О Бренде')
    ul.brif__form-points
      +brifCheckbox('gender','Краткая информация по типовым клиентам:',['мужчины','женщины'])
      +brifRadio('ages','Возрастные группы типовых клиентов?',['до 18 лет','18-25','25-40','40 и выше'])
      +brifCheckbox('image','Какой образ компании должен создаваться посредством логотипа/фирменного стиля:',['открытость и дружелюбность','солидность, респектабельность','союз компаний, корпоративность','развитие, восхождение','динамика, напор, движение вперед','современность, инновационность','стабильность, консервативность'])
      +brifRadio('guide','Нужен ли вам Guideline (руководство по использованию логотипа)?',['да','нет'])

