-var pageNumber=3
block page-3
  div(class='tab brif__form-page-'+pageNumber )
    +brifTop(' О Графике')
  ul.brif__form-points
    +brifRadio(10,'Представьте, что логотип музыкальное произведение, к какому жанру вы его отнесете?',['классика','поп-музыка','электронная','рок','хип-хоп'])
    +brifRadio(11,'Какой СТИЛЬ/МЕТОД ГРАФИЧЕСКОГО РЕШЕНИЯ логотипа, на ваш взгляд, предпочтителен для создания желаемого образа бренда? ВЫБЕРИТЕ НЕ БОЛЕЕ 3.',['Минимализм','Корпоративность, абстракция, геометрия','Прямолинейность','Типографика, фирменное написание','Рисование, художественность','Каллиграфия','Историчность, мифологичность','Детскость, намеренный инфантилизм, юмор'])
    +brifTextarea(12,'Цветовая гамма','Цвета, желательные или обязательные для использования. Если есть нежелательные цвета, то также укажите их. ')
