-var pageNumber=1
block page-1
  div(class='tab brif__form-page-'+pageNumber )
    +brifTop('О компании')
    ul.brif__form-points
      +brifTextarea('naming','Название, которое должно быть отражено в логотипе:','К примеру, Adidas. При создании более одной версии логотипа (несколько разноязычных версий) необходимо указать написания для всех версий, с учетом регистра и пробелов.')
      +brifTextarea('meaning','Что означает ваше название?','название Adidas построено из имени и фамилии владельца - Адольфа Дасслера, Изначально, был бренд Dassler, им владело два брата, но к сожалению они поссорились и запретили друг другу использовать семейный бренд. Поэтому, родилось два новых Adidas и Puma.')
      +brifTextarea('description','Описание продукта или услуги и преимущества','Укажите ваш основной ряд продуктов или услуг. К примеру: спортивная одежда и обувь. Масштабное производство, более 10000 магазинов, мы занимаемся розничной, оптовой продажей, а так же создаем спортивные вещи на заказ. Следуем и создаем тренды.')
      +brifRadio('duration','Как давно ваш проект существует?',['менее 1 года','от 1 до 5 лет','5 - 10 лет','более 10 лет'])
      +brifTextarea('location','Где территориально действует ваш проект?','Локально, Только в вашем регионе, на всю Россию, на весь мир, Китайский рынок и т.д.')
