section.preview
  .container 
    h3.preview__title 
    p.preview__text Бриф и референсы (примеры работ для вдохновения) - являются ключом к правильной постановке задачи. Поэтому, предлагаем заполнить бриф максимально развёрнуто, ответив на поставленные вопросы.  
    a(href='#').preview__link-btn Начать