-var className='project'
-var topTitle = 'SPEQ PROJECT'
-var topArticle ='Мы создаём не просто фотографии, мы создаём эмоции, которые заставляют покупателя выбирать именно ваш товар. Благодаря многолетнему опыту, наши фотографы точно знают, как донести до зрителей не только внешний вид, но даже запах и вкус.'