section.start
  .container 
    .start__content-box
      h3.start__title БРИФ НА СОЗДАНИЕ ЛОГО
      p.start__text Бриф и референсы (примеры работ для вдохновения) - являются ключом к правильной постановке задачи. Поэтому, предлагаем заполнить бриф максимально развёрнуто, ответив на поставленные вопросы.  
      a(href='#').start__link-btn Начать